@page "/Edit/{Id}"
@attribute [Authorize(Roles = "contact-admin")]
@using Contacts.Shared;
@inject HttpClient Http;
@inject NavigationManager UriHelper;
@using System.Globalization;
@inject IStringLocalizer<Edit> L


<div class="row">
    <h1 class="text-center">@L["edit-contact"]</h1>
    <div class="col-md-6 offset-md-3">
        <EditForm Model="@_editContact" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <label class="form-label" for="FirstName">@L["first-name"]</label>
                <InputText class="form-control" @bind-Value="_editContact.FirstName" id="FirstName" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="LastName">@L["last-name"]</label>
                <InputText class="form-control" @bind-Value="_editContact.LastName" id="LastName" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Email">@L["email"]</label>
                <InputText class="form-control" type="email" @bind-Value="_editContact.Email" id="Email" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Title">@L["title"]</label>
                <InputSelect @bind-Value="_editContact.Title" id="Title" class="form-select">
                    <option selected>@L["select-a-title"]</option>
                    <option value="Mr">@L["mr"]</option>
                    <option value="Mrs">@L["mrs"]</option>
                    <option value="Miss">@L["miss"]</option>
                    <option value="Dr">@L["dr"]</option>
                    <option value="Prof">@L["prof"]</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Description">@L["description"]</label>
                <InputTextArea class="form-control" @bind-Value="_editContact.Description" id="Description"></InputTextArea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="DateOfBirth">@L["date-of-birth"]</label>
                <InputDate class="form-control" @bind-Value="_editContact.DateOfBirth" id="DateOfBirth" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="MarriageStatus">@L["is-married"]</label>
                <InputSelect @bind-Value="_editContact.MarriageStatus" id="MarriageStatus" class="form-select">
                    <option selected>@L["select-a-choice"]</option>
                    <option value=true>@L["yes"]</option>
                    <option value=false>@L["no"]</option>
                </InputSelect>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success mt-3">@L["edit-contact"]</button>
            </div>
        </EditForm>

    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Contact _editContact = new Contact();
    string lang = CultureInfo.CurrentCulture.Name.ToString();
    protected override async Task OnInitializedAsync()
    {
        _editContact = await Http.GetFromJsonAsync<Contact>($"/contacts/{Id}");
    }
    private async Task HandleValidSubmit()
    {
        await Http.PutAsJsonAsync<Contact>($"/edit-contact", _editContact);
        UriHelper.NavigateTo("/");
    }
}
