@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Globalization;

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<AccessControl> L

<AuthorizeView>
    <Authorized>
        @if (CultureInfo.CurrentCulture.Name == "ar")
        {
            <p class="mt-3">!@context.User.Identity.Name, @L["hello"]</p>
        }
        else
        {
            <p class="mt-3">@L["hello"], @context.User.Identity.Name!</p>
        }     
        <a href="#" @onclick="BeginSignOut">@L["logout"]</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">@L["login"]</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}